@font-face {
      font-family: Mulish;
      src: url(fonts/mulish.ttf);
}

@font-face {
      font-family: Montserrat;
      src: url(fonts/montserrat.ttf);
}

@media (max-width:1066px) {
      .flex--el {
            margin-top: 30px;
      }
}

body {
      font-family: Montserrat;
}

.main {
      width: 100%;
      display: flex;

      &--title {
            width: 100%;
            text-align: center;
            font-size: 20px;
            font-family: Montserrat;

            margin-bottom: 30px;
      }

      &--content {
            width: 100%;
      }
}

.flex {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-around;


      &--el {

            width: 350px;
            height: 350px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
      }
}

/*1066*/
.all-w {
      width: 100%;
}

.input {
      margin-top: 30px;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
}

.form {
      margin-bottom: 400px;
      margin-right: 10px;

      &--label {
            position: relative;
            left: -100px;
            font-family: Montserrat;
      }

      &--button {
            height: 10px;
      }
}

.label--p {
      font-size: 24px;
}

.label--img {
      width: 20px;
}

.btn {
      border: 2px solid #00c004;
      background: #baf5ff;
      padding: 0px;
      border-radius: 50%;
}

.btn-clickable:hover {
      border-bottom-width: 2px;
      border-left-width: 2px;
      border-right-width: 2px;
      margin-top: 1px;
}

.img--box {
      width: 350px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 5px solid #777;
      transition: 0.1s all ease;
      &:hover{
            border-top: 40px solid #777;
      }
}

.img--div {
      width: 350px;
      height: 350px;
      display: flex;

}

.el--img {
      max-width: 340px;
      height: 305px;
      /*border: 1px solid #777;
      border-top: 20px solid #777777;*/
}

.footer{
      height: 300px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
}
.round--btn{
      width: 80px;height: 80px;
      border: 6px solid #a1a1a1;
      border-bottom: 10px solid #a1a1a1;
      border-radius: 50%;
      background-image: url(img/q.png);
      background-size: 55px 55px;
      background-repeat: no-repeat;
      background-position: center;
      transition: 0.1s all ease;
      &:hover{
            border: 6px solid #a1a1a1;
            margin-top: 4px;
      }
}
